        <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand p-2" href="#"><i class="fas fa-snowflake"></i> Gesfluid</a>
          {% if app.user %}
          <div class="m-2">
            <a class="btn btn-sm btn-danger"href="{{ path('app_logout') }}"><i class="fas fa-user"></i> Déconnexion</a>
          </div>
          {% endif %}
        </nav>
