        <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand p-2" href="#"><i class="fas fa-snowflake"></i> Gesfluid</a>
          {% if app.user %}<div class="btn btn-sm btn-danger m-2"><i class="fas fa-user"></i> Déconnexion</div>{% endif %}
        </nav>
